<h1>Title of Movie</h1>


<h1>{{movie.moviesTitle}}</h1> 

<div>
  <a href="{{movie.moviesUrl}}"><img src="{{movie.moviesImage}}" width="300" height="500"></a>
</div>
<h2>Blog: {{movie.moviesBody}}</h2>