<h1>Welcome! Please sign up</h1>

<form id="signup" name="signup" method="POST" action="/users/signup">
    <div>
        <label for="name">First Name: </label>
        <input type="text" name="first_name" required>
    </div>
    <div>
        <label for="name">Last Name: </label>
        <input type="text" name="last_name" required>
    </div>
    <div>
        <label for="name">Email: </label>
        <input type="text" name="Email" required>
    </div>
    <div>
        <label for="name">Username: </label>
        <input type="text" name="Username" required>
    </div>
    <div>
        <label for="name">Password: </label>
        <input type="password" name="Password" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
